<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="score" class="com.george.springboot.bean.Score">
        <property name="chinese" value="98"/>
        <property name="math" value="100"/>
        <property name="english" value="96"/>
    </bean>
</beans>